* {

}

header {
	background: #4B79A1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	max-height: 1080px;
	width: 100%;
}

body {

}

footer {
	background-color: #fff;
	height: 100%;
	width: 100%;
}

a, a:hover, a:focus, a:active, a:focus:active, a:target, a.active {
	color: #fff;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow:none;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 30px;
	color: #555;
}

p {
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

.section-white {
	background-color: #fff;
	height: 100%;
	width: 100%;
}

.section-grey{
	background-color: #f2f2f2;
	height: 100%;
	width: 100%;
}

.top-nav {
	align-items: center;
	padding-top: 20px;
}

.top-brand {
	float: left;
	max-width: 100%;
  height: auto;
  width: auto\9;
}

.btn {
	color: #fff;
	background-color:rgba(0,0,0,0.4);
	border: 1.6px #fff solid;
}

.btn:hover {
	color: #fff;
	background-color:rgba(0,0,0,0.6);
	border: 1.6px #fff solid;
}

.undln-btn {
	background-color: inherit;
	border: none;
	padding: 10px;
}

.undln-btn:hover {
	background-color: inherit;
	border: none;
	border-radius: 0px;
	border-bottom: #fff 1.6px solid;
}

.tnm-submenu {
	display: none;
	width: 100%;
	background-color:#283E52;
	border-bottom: .4px solid #fff;
}

.jumbotron {
	background: inherit;
	text-align:center;
	display: inline-block;
	align-self: auto;
	margin: 0 auto;
	padding: 0;
	min-height: 100%;
	min-height: 93.5vh;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;
	width: 100%;
	height: 100%;
	-webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
}

.header-lp {
	padding-right: 140px;
}

.features-head {
}

.features-head h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #555;
	text-align: center;
	font-size: 38px;
	font-style: none;
	float: none;
	line-height: 50px;
	margin: 40px;
}

.smgrey {
	background: #f8f8f8;
	margin: 0;
}

.col-sm-4 {
	vertical-align: middle;
text-align: center;
display: inline-block;
margin: 0;
padding: 0;
}

.col-sm-4 h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 30px;
	color: #555;
	margin-bottom: 10px;
}

.col-sm-4 p {
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
	width: 95%;
	margin: 0 0 10px;
	margin-bottom: 30px;
	vertical-align: middle;
	display: inline-block;
}


.col-sm-6 h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;
	color: #555;
	text-align: left;
	float: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
}

.col-sm-6 p {
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: left;
	overflow: hidden;
	margin-bottom: 10px;
}

.col-sm-6 img {
	width: 100%;
	height:100%
	padding-bottom: 30px;
}

.ftr-sec {
	text-align: center;
	float: none;
	vertical-align: middle;
	margin: 5px;
}

.ftr-icn {
	color: #ccc;
	font-size: 3.8em;
	margin-top: 30px;
	margin: 10px;
}

.ftr-icn:hover {
	color: #4B79A1;
}

.ftr-wrtng {
	display: inline-block;
}

#lpinfo {
	display: inline-block;
	vertical-align: middle;
	float: none;
	width: 380px;
}

#lpinfo h2 {
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	padding-bottom: 10px;
}

#topmbl {
	max-width: 768px;
	width: 100%;
	background-color:#283E52;
	height: 50px;
	font-size: 30px;
	display: none;
	position: absolute;
	z-index: 99999;
}

#topmbl ul, li {
	list-style-type: none;
	float: left;
	color: #fff;
	text-align: center;
	font-size: 25px;
	width: 100%;
	padding: 0;
	margin: 0;
	left: 0;
}

#topmbl li {
	display: inline;
}

#topmbl a {
	float:right;
	padding-right: 20px;
	text-align: center;
}

#topmbl a, a:hover, a:target, a:focus, a:active {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#tmn-div {
	display: inline;
}

#features-sec {
	border-bottom: .1em #ccc solid;
}

#why-tb {

}

#dev-info {
	border-top: .1em #ccc solid;
}

#getstartinfo {
	height: 100%;
	width: 100%;
	background: linear-gradient(270deg, #1c7b9f, #0c3952);
  background-size: 400% 400%;
  -webkit-animation: bgAnimation 5s ease infinite;
  -moz-animation: bgAnimation 5s ease infinite;
  -o-animation: bgAnimation 5s ease infinite;
  animation: bgAnimation 5s ease infinite;
}

#getstartinfo h2 {
	color:#fff;
}

#head-title div {
	display: inline-block;
}

#tiltlpinfo {
	width: 100%;
}

#tiltlpinfo p {
	padding-right: 10px;
	padding: 8px;
	margin:0;
	text-align: center;
}

#topbtn-left {
	background-color: #5cb85c;
	border: none;
	color: white;
	font-size: 18px;
	font-style: bold;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	float: left;
	width: 190px;
}

#topbtn-right {
	background-color: #5bc0de;
	border: none;
	color: white;
	font-size: 18px;
	font-style: bold;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	width: 100%;
	float: none;
}


#vers-left {
	font-family: "Opan Sans", sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	font-style: none;
	color:#eaeae8;
	float: left;
	padding: 5px 0px 0px 0px !important;
	margin: 0 !important;
	text-align: left;
	display: block;
}

#rdate {
	font-family: "Opan Sans", sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	font-style: none;
	color:#eaeae8;
	float: right;
	padding: 5px 0px 0px 0px !important;
	margin: 0 !important;
	text-align: right;
}

/* Media queries */

@media (max-width: 768px) {
  .top-nav     { display: none; }
  #topmbl  { display:inline-block; }
}

@media (max-width: 769px) {
	.jumbotron { height: 100%; padding-top: 30px; }
	#boticon { width: 210px; height:252px;padding-top:16px; margin-right: 0px; margin: 0; }
	#topbtn-left { width: 120px; height: 100%; }
	#headericon { margin-top: 0px;}
	#lpinfo { width: 100%; margin: 0; }
	.header-lp {padding-right: 0px; margin-right: 0px; margin: 0; float:none; width: 100%;}
	.col-md-7 { text-align: center; }
	.col-sm-12 { display: none; }
	.devspotimg { padding-top: 20px; padding-bottom: 10px;}
	.col-md-4 { float: none; vertical-align: center; text-align: center; }
	.lp-left-btn { display: none; }
	.lp-right-btn { display: none;}
}


/* keyframes for animation */

@-webkit-keyframes bgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes bgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
